:root {
    --primary-color: #fff;
    --secondry-color: rgb(167, 196, 140);
    --overlay: rgba(223, 104, 25, 0.925);
}


html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', 'Open Sans', 'Oswald', sans-serif;
    line-height: 1.6;
    font-size: 1.1rem;
    color: var(--primary-color);
    background-color: #063647;
}

.navbar2 {
    background-color: #012b3b;
    transition: top 0.5s;
    font-size: 1.2rem;
    width: 100%;
    line-height: 15px;
}

.nav-menu2 {
    width: 80%;
    margin-left: 55%;
    padding: 0;
}

.nav-menu2 li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-menu2 li:hover {
    background: #497c8f;
}

.nav-menu2 li a {
    color: #fff;
    text-decoration: none;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #012b3b;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    font-size: 30px;
    display: none;
}



h1, h2, h3, h4 {
    line-height: 1.3
}

a {
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none
}

.profile img{
    display: block;
    height: 20%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80%;
}

.other-profile-page img {
    display: block;
    height: 15%;
    width: 11%;
    margin-left: 35px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 80%;
}
.container2 {
    display: inline;
}

.showcase-1{
    margin: 1.5rem 0;
    margin-top: 5px;
    margin-bottom: 0;
}

.showcase-1 .container{
    display: block;
    text-align: center;
}

.showcase-1 h1{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.name, .footer-info {
    color: #aebbba;
}


.showcase-1 p{
    font-size: 20px;
    margin: 0.6rem 1.9rem;
    
    text-align: justify;
}

.social-icons {
    margin-left: 10px;
    padding-bottom: 9px;
}

.social-icons a {
    color: var(--primary-color);
    padding-right: 0.5rem;
    transition: all 0.5s ease-out;
}

.social-icons a:hover{
    color: var(--secondry-color);
}

#showcase-2{
    margin: 5rem 0;
    margin-top: 60px;
}

#showcase-5{
    margin: 5rem 0;
}

#showcase-2 h1 {
    text-align: justify;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 40px;
}

#showcase-5 h1 {
    text-align: justify;
    margin-bottom: 40px;
    font-size: 40px;
    margin-left: 40px;
}

.gallary {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 0%;
}

.blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
}

.blog img {
    width: 100%;
   
}

.gallary img{
    width: 100%;
}

.work-item{
    border: #fff solid 2px;
    transition: all ease-out 1s;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.project-div-ang {
    padding-top: 0%;
}

.project-div-paycard {
    padding-top: 0%;
    padding-bottom: auto;
}

.project-div-article {
    padding-top: 0%;
}

#blog-work-item{
    border: #fff solid 2px;
    transition: all ease-out 1s;
    margin-right: auto;
    margin-left: auto;
    width: 40%
}

.work-item:hover{
    border: var(--secondry-color) solid 3px;
}


.work-item .btn{
    display: block;
    padding: 7px;
    font-size: 17px;
    margin-top: 0px;
    text-align: center;
    transition: all ease-out 1s
}

.project-img img {
    height: 110px;
}

.samp {
    height: 300px;
}

.work-item .btn:hover{
    background-color: var(--secondry-color);
    color: #fff;
}

.work-item .btn-1{
    background-color: #333;
}

.work-item .btn-2{
    background-color: var(--primary-color);
    color: #444;
}


.work-para {
    text-align: center;
}

#showcase-3 {
    text-align: justify;
    margin: 5rem;
    margin-left: 10px ;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 40px;
}

.social{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0%;
    margin-left: 18rem;
    margin-right: 15rem;
}

.social img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


 .gallary-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#showcase-4 h1 {
    text-align: justify;
    margin-bottom: 40px;
    font-size: 40px;
    margin-left: 40px;
}

.gallary-2 img{
    width: 100%;
    border-radius: 50%;
}

#showcase-3 h2{
    display: block;
    text-align: justify;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 40px;
}



.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.boxes div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
    cursor: pointer; 
}

.boxes div:hover {
    padding: 0.2rem .8rem;
    background-color: #008075;
    color: #fff; }
    .boxes div:hover span {
      color: #444; 
    }

    
#main-footer {
    text-align: center;
    padding: 1rem;
    height: 60px;
    background: #012b3b;
}



/* Paycard styling*/

.width-background {
    width: 100%;
    background-color: white;
    color: rgb(182, 179, 179);
}


.main-heading {
    font-family: 'Montserrat', 'Open Sans', 'Oswald', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 2;
    font-size: 21px;
}

.article-header-img {
    background-color: #f3f3f3;
}

.seo-img img {
    margin-left: 25%;
    margin-right: 0%;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 50%;
}

.header-img img{
    margin-left: 35%;
    margin-right: 20%;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 30%;
}


.post-body p {
    margin-bottom: 25px;
    text-align: justify;
}

figcaption {
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
}

.figures-img img {
    width: 70%;
    margin-left: 15%;
}


.mattress-img img {
    width: 50%;
    margin-left: 25%;
}


#seo1-img img {
    width: 60%;
    margin-left: 15%;
}

.intro-paddle-img img{
    margin-left: 30%;
    margin-top: 30px;
    width: 40%;
}

.header {
    box-shadow: 0 0 20px rgba(105, 96, 96, 0.25);
    padding: 20px 40px;
    position: relative;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 42px;
    text-align: center;
}

.post-para a {
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(248, 148, 17);
}

.twitt:hover {
    color: rgb(167, 196, 140);
    padding-right: 0.5rem;
    transition: all 0.5s
}

.post-para {
    color: #7b8887;
}


.post-body-div {
    line-height: 2.5rem;
    margin-left: 25%;
    margin-right: 25%;
}

.width-background {
    background-color: white;
    color: black;
}

.social-div {
    background-color: #063647;
    color: #fff;
}


.comment-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.time-created, time {
    font-size: 15px;
}

time:hover {
   color: rgb(144, 191, 233);
}

.px-2 {
    margin-top: 2%;
}

.card-text {
    margin-top: 5%;
}

.card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.date-div {
    line-height: 120%;
}

.comment-box p {
    color: rgb(175, 201, 241);
}

.img-width {
    height: 250px;
    width: 40px;
}



/* Article Section*/
.article-head img {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    margin-bottom: auto;
    width: 210px;
    height: 200px;
    line-height: 20%;
}

.article-head {
    background-color: white;
}

.article-name {
    color: black;
    line-height: 5%;
}


.article-name:hover {
    color: rgb(144, 191, 233);
}

.article-head-span h2 {
    color: #1e73be;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
}

.fluid h2{
    text-decoration: none;

}


.article-head-span h2:hover {
    color: black;
    font-size: 29.9px;
    text-decoration-style: none;
}

.written-by-div {
    margin-top: 2%;
    font-size: 15px;
}


.line {
    background-color: #cc4c4c;
    width: 100%;
    visibility:var(--primary-color);
    height: 10%;
}

.post-body-div span {
 font-weight: bold;
}

.post-body-div h2 {
    text-align: center;
}

.on-page img {
    width: 100%;
    margin-left: 0%;
}

.article-list {
    list-style-type: disc;
    padding-left: 8%;
}

.article-sub-list {
    padding-left: 8%;
    list-style-type: lower-latin;
}



    /*Mobile-Responsiveness*/

@media screen and (max-width: 768px) {

    body {
        font-size: 0.8rem;
    }

    .blog img {
        width: 100%;
    }

    .toggle {
        display: block;
    }

    .nav-menu2 {
        margin-left: auto;
        width: 100%;
        display: none;
        text-align: justify;
    }
    
    
    .nav-menu2 li {
        height: 60px;
        display: block;
        border-top: #a6b6c9 solid 1px;
    } 

    .active {
        display: block;
    }

    .work-para {
        font-size: 1rem;
    }


    .article-head-span h2 {
        text-align: center;
    }


    .showcase-1 .container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-content: center;
        text-align: center
    }

    .showcase-1 h1{
        font-size: 2.3rem;
        color: var(--primary-color);
    }
    

    .showcase-1 p {
        font-size: 19px;
        margin: .4rem 1.5rem;
    }


    .gallary-2{
        width: 80%;
    }


    .work-item {
        border: #fff solid 2px;
        transition: all ease-out 1s;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    #blog-work-item{
        width: 60%;
    }

    .social{
        width: 80%;
        margin-left: 12%;
        margin-right: auto;
    }
    
    .name-p {
        margin-top: 5px;
    }
    
    .img-width {
        height: 125px;
        width: 50px;
    }


    .showcase-1 .container div:first-child{
        order: 2;
    }

    .showcase-1 .container div:last-child{
        order: -1;
    }


    .profile img{
    display: block;
    height: 20%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80%;
    }

    .other-profile-page img {
    display: block;
    height: 20%;
    width:  23%;
    margin-left: 7%;
    margin-right: 15%;
    margin-bottom: 10px;
    border-radius: 80%;
    }

    #showcase-2 {
        margin: 1.5rem;
    }
    #showcase-5 {
        margin: 4rem 1.7rem;
    }

    #showcase-5 h1 {
        font-size: 2rem;
        text-align: justify;
        margin-bottom: 40px;
        margin-left: 10px;
    }


    #showcase-4 {
        margin: 4rem 2rem;
    }

    #showcase-4 h1 {
        font-size: 2rem;
        margin-left: .2rem;
    }



    #showcase-2 h1 {
        font-size: 2rem;
        text-align: justify;
        margin-bottom: 40px;
        margin-left: 10px;
    }


    .gallary {
        grid-template-columns: 1fr;
        grid-gap: 30px;
            
        
    }

    .blog {
        grid-template-columns: 1fr;
    }

    #showcase-3 {
        margin: 2.3rem;
        margin-bottom: 0%;
    }
    
    .contact-background {
        background-color: #012b3b;

    }

    #showcase-3 h2 {
        font-size: 2rem;
        margin-left: 4px;
    }

    #showcase-4 {
        margin: 4rem 2rem;
    }

    #showcase-4 h1 {
        font-size: 2rem;
    }

    .boxes div {
        font-size: 1.5rem;
        text-align: center
    }


/*Media for paycard page*/

.main-width {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 1rem;

    }

    
    .post-body-div {
        line-height: 2rem;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1rem;
    }

    .header h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 5px;
    }

    .post-para a {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 60px;
        text-align: center;
        color: rgb(248, 148, 17);
    }

    
    .post-para {
        color: #7b8887;
        text-align: left;
        margin-left: 0%;
        line-height: 100%;
    }

    .post-para p:first-child {
        font-size: 15px;
    }

    .post-para-p1 {
        text-align: right;
        margin-left: 5px;

    }

    .twitt .post-para-p2 {
        text-align: right;
        margin-left: 75px;
        margin-bottom: 70%;
        display: block;
    }

    .time-created, time {
        font-size: 12px;
    }
    

    .date-div {
        line-height: 120%;
    }
    
    .header-img img {
        margin-left: 30%;
        margin-right: 20%;
        margin-bottom: 5px;
        width: 40%;
    }

    figure img {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5px;
    }

    .comment-box {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Articles Section */
    .intro-img img {
        margin-left: 35%;
        margin-right: 20%;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 60%;
    }

    /*.intro-seo-img img {
        margin-left: 10%;
        margin-top: 30px;
        width: 60%
    } */

    .intro-paddle-img img {
        margin-left: 15%;
        margin-top: 30px;
        width: 70%
    }

    .figure-img img {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 5px;
    }

    .mattress-img img {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 5px;
    }

    .article-head img {
        margin-left: 18%;
        margin-top: 3%;
        margin-bottom: auto;
        width: 210px;
        height: 200px;
        line-height: 20%;
    }

    
.seo-img img {
        margin-left: 10%;
        margin-bottom: 30px;
        margin-top: 20px;
        width: 80%;
    }
}